
  body {
    background-image: url('./Fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.conteudo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#titulosite{
    color: white;
    margin-bottom: 30px;
}
.caixa{
    border: 0px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.527), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
    padding: 100px;
    margin: 50px;
}
.caixalogin{
  border: 0px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.527), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(5px);
  padding: 100px;
  margin: 50px;
  
}
.textoinputs{
  color: white;
  font-size: medium;
}
#logotipo{
    width: 100px;
    height: auto;
}
#esqueci{
    color: lightgrey;
    font-size: medium;
}

.botoesprincipais {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 15px 32px;
  margin: 10px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  transition: all 0.5s;
}

.botoesprincipais span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .botoesprincipais span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .botoesprincipais:hover span {
    padding-right: 25px;
  }
  
  .botoesprincipais:hover span:after {
    opacity: 1;
    right: 0;
  }

footer{
    color: white;
    font-size: small;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    border: 2px rgba(0, 0, 0, 0.2);
    padding: 2px;
    text-align: center;
}