body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.content {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
a{
  text-decoration: none;
}
.contenttasks{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
#createTaskButton.disabled {
  pointer-events: none;
  background-color: lightgray;
}
.userinfo{
  margin-bottom: 12rem;
}
#sessionconfig{
  right: 10px;
  top: 15px;
  position: absolute;
}
#webtittle {
  color: white;
  margin-bottom: 30px;
}
#taskLimitMessage{
  color: red;
  display: none;
  font-size: 20px;
}

.box {
  border: 0px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.527), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 100px;
}
.box2 {
  border: 0px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.527),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 50px;
  margin: 20px;
}
#logo {
  width: 130px;
  height: auto;
  margin-bottom: 30px;
}
#profilepicture{
  width: 200px;
  height: auto;
  margin-right: 30px;
}
.userinfo{
  display: flex;
  align-items: center;
  margin: 20px;
}
#pen{
  color: white;
  font-size: 30px;
}
#usernametext{
  color: white;
  font-size: 3rem;
}

#handicon{
  color: white;
  margin: 10px;
  font-size: 30px;
}
#forgotpasword {
  color: lightgrey;
  font-size: 15px;
  text-decoration: none;
}
#forgotpasword:hover {
  color: rgb(177, 177, 177);
}
.logininputs {
  width: 300px;
  background-color: transparent;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.buttons {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 15px 32px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
.buttonsid {
  width: 200px;
  font-size: 15px;
}
.buttonsession{
  width: 300px;
  font-size: 20px;
}
#buttontask{
  width: 200px;
  font: 20px;
  float: right;
}
#mytasks{
  color: white;
  font-size: 30px;
  float: left;
}
#newtasktext{
  color: white;
  font-size: 50px;
}
.smallertext{
  color: white;
  font-size: 30px;
}
#description{
  width: 300px;
  height: 2vw;
  border-radius: 7px;
  
}
#smallertextpaddingbottom{
  margin-bottom: 100px;
}
.closebutton{
  right: 5%;
  top: 5%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: width,height ease-in-out 0.3s;
}
.closebutton:hover{
  background-color: #ffffff;
  width: 55px;
  height: 55px;
}
#date{
  width: 15vw;
  height: 2vw;
  border-radius: 10px;
  margin-bottom: 20px;
}
.createtask{
  background-color: white;
  width: 50%;
  height: 70vh;
  position: fixed;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  align-content: center;
  top: 15%;
  left: 25%;
  border-radius: 25px;
  border: 3px solid rgba(255, 255, 255, 0.644);
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.527), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  display: none;
  text-align: center;
}
.edittask{
  background-color: white;
  width: 50%;
  height: 70vh;
  position: fixed;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  align-content: center;
  top: 15%;
  left: 25%;
  border-radius: 25px;
  border: 3px solid rgba(255, 255, 255, 0.644);
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.527), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  display: none;
  text-align: center;
}
th, td {
  border:1px solid black;
  background-color: rgb(240, 240, 240);
  padding: 8px;
}
table{
  border-collapse: collapse;
}
thead th {
  width: 80%;
}
#tables_tasks{
  margin-top: 5rem;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}
#cell_highlight{
  font-style: bold;
  font-size: 25px;
}
.btnrecuperar {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 15px 32px;
  margin: 10px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  width: 300px;
  transition: all 0.2s;
}
.btnrecuperar:hover {
  color: rgb(97, 97, 97);
  border: 2px solid rgb(97, 97, 97);
}
.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttons span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttons:hover span {
  padding-right: 25px;
}
.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  color: white;
  text-align: center;
  padding: 4px;
}
.boxcheckbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
/* Esconder a checkbox que o browser tem por default */
.boxcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Criar a checkbox customizada */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
}
/* O que fazer ao passar o rato em cima */
.boxcheckbox:hover input ~ .checkmark {
  background-color: #050505;
}
/* Quando clicada modificar o fundo*/
.boxcheckbox input:checked ~ .checkmark {
  background-color: #000000;
}
/* Criar o checkmark*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Mostar o chekmark*/
.boxcheckbox input:checked ~ .checkmark:after {
  display: block;
}
/* Customizar o checkmark*/
.boxcheckbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
  }
  .box {
    height: 100%;
    width: 100%;
  }
  .box2 {
    height: 100%;
    width: 100%;
    margin: 0px;
    flex-direction: column;
  }
  #forgotpasword {
    margin-top: 10px;
    text-align: center;
    display: block;
  }
  .content {
    width: 100%;
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  #logo {
    padding-top: 15vw;
  }
  .boxcheckbox {
    margin-bottom: 10px;
    font-size: 15px;
  }
}
